h2{
    font-size: 30px;
    background-color: #987070;
    color: white;
    width: 250px;
    height: 35px;
    border-radius: 10px;
    text-align: center;
}
div.content{
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
div.content img{
    float: left;
    width: 500px;
}

div.content p{
    margin-left: 15px;
}

div.content li{
    margin-left: 15px;
}